<ion-content>
  <div class="navbar">
    <ion-buttons class="menu" slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <input class="search" type="search" placeholder="search">
    <ion-buttons class="notife">
      <ion-icon name="notifications"></ion-icon>
    </ion-buttons>
  </div>
  <div id="map" class="map-container"></div>
  <div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
  </div>
</ion-content>
