<ion-content class="content-bg" [fullscreen]="true">
  <div class="blur-layer">
    <div class="container">
      <h1 class="name">GMAO</h1>
      <ion-img class="logo" src="../../assets/logo.png"></ion-img>
      <div class="login-part">
        <h2 class="login-txt">Login</h2>
        <input type="email" placeholder="Email">
        <input type="password" placeholder="password">
      </div>
      <a class="forget" href="">Mot de passe oublier?</a>
      <button class="btn">LOGIN</button>
    </div>
  </div>
</ion-content>
